$gutter: 6%

.container
  padding-top: 60px
  
.intro
  margin-left: $gutter
  margin-right: $gutter
  margin-bottom: 60px

.featured
  clear: both
  h2, h3, p, .skills
    margin-left: $gutter
    width: 42%
  img
    right: -30px

.blog
  padding-top: 60px
  padding-bottom: 100px
  h2
    margin-left: $gutter
    margin-right: $gutter
  li
    padding-left: $gutter
    padding-right: $gutter
  .source
    padding-bottom: 0
    line-height: 1.8rem
    width: 23%
  .source, .content
    float: left
  .content
    width: 72%
  
.recent
  padding-top: 60px
  padding-bottom: 100px
  
  h2, ul
    margin-left: $gutter
    margin-right: $gutter
  li
    margin-right: 0
    margin-bottom: 40px