$gutter: 6%

.container
  padding-top: 90px

h2
  font-size: 2.5rem
  margin-bottom: 15px
  
.top
  float: left
  margin-left: $gutter
  img
    max-width: 90%
    margin: 40px 0 0

.social
  top: -30px
  
.intro
  clear: none
  float: right
  margin: 30px 5% 120px 0
  max-width: 440px

.featured
  h2, h3, p, .skills
    margin-left: $gutter
  .inner
    padding-top: 30px
  h2
    margin-bottom: 20px
    font-size: 2.5rem
  h3
    max-width: 350px
    margin-bottom: 20px
    font-size: 1.4rem
    height: 30px    
    &:after
      border-top-width: 16px
      border-bottom-width: 16px
      border-left-width: 16px
      right: -16px
  p
    font-size: 1rem
    margin-bottom: 30px
  .skills
    ul
      // margin-bottom: 40px
    li
      font-size: 1rem
  img
    top: 40px
    right: 40px
    &.mobile
      display: none
    &.tablet
      display: inline

.blog
  padding-top: 80px
  margin-bottom: 60px
  h2
    margin-left: $gutter
    margin-right: $gutter
  li
    padding-left: $gutter
    padding-right: $gutter
  .source
    width: 15%
    line-height: 2.4rem
  .content
    width: 80%
    h3
      font-size: 1.8rem
    
.recent
  h3
    font-size: 1.4rem
  h2, ul
    margin-left: $gutter
    margin-right: $gutter
  li
    margin-right: 40px
    