.container
  padding-top: 100px

.intro
  margin-right: 5%
  margin-top: 10px
  margin-bottom: 150px
  max-width: 510px
  h1
    font-size: 3.2rem
    line-height: 2
  p
    font-size: 2.4rem
  
.featured
  h3, p, h2
    width: 32%
  img
    position: static
    float: right
    margin-right: 5%
    border: 10px solid #99420a
    &.tablet
      display: none
    &.desktop
      display: block
      width: 420px
      
.recent
  img
    max-width: 95%