//http://www.colourlovers.com/palette/940086/mystery_machine?c=1

$gutter: 6%

body, ul, ol, li, h1, h2, h3, h4, p
  margin: 0
  padding: 0

body
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif
  // color: #fff
  // background-color: #FAF9E4
  background-color: #554236
  margin: 0 auto 40px
  font-size: 14px
  // width: 320px
  // width: 400px
  // width: 500px
  // width: 600px
  // width: 768px
  // width: 850px

a
  text-decoration: none
  color: inherit

li
  list-style-type: none

p
  line-height: 1.3
  
h2
  // font-family: 'Droid Sans', sans-serif
  // font-family: 'Open Sans', sans-serif
  font-family: 'Open Sans Condensed', sans-serif
  text-transform: uppercase
  // color: #554236
  color: #fff
  
  font-weight: 300
  font-size: 1.65rem
  margin-bottom: 5px

.container
  background-color: #60B99A
  border-bottom: 10px solid #55a589
  padding-top: 40px
  
.container, .blog, .recent
  position: relative
  z-index: 10
  overflow: hidden

.top
  img
    display: block
    max-width: 20%
    margin: 0 auto 20px

.social
  background-color: #554236
  border-bottom: 10px solid #473224
  overflow: hidden
  li
    float: left
    padding: 5px 5px 0
    img
      max-width: 40px
      opacity: 0.5
      -webkit-transition: opacity 300ms ease-out
    &:hover
      img
        opacity: 1
  ul
    overflow: hidden
    float: right
    

.intro
  clear: both
  margin: 0 $gutter 40px
  h1, p
    color: #e3faf2
    // font-family: 'Nothing You Could Do', cursive
    font-family: 'Open Sans Condensed', sans-serif
    font-size: 1.35rem
    text-shadow: -1px -1px 1px #55a589
  p
    line-height: 1

.featured
  position: relative
  overflow: hidden
  // background-color: rgba(#A19C7F, 0.4)
  background-color: #F77825
  border-bottom: 10px solid #dc6b21
  color: #554236
  .inner
    padding: 15px 0 0
  h2
    margin-bottom: 10px
    color: #575445
  h2, h3, p, .skills
    margin-left: $gutter
    width: 50%
  h3
    font-family: 'Open Sans Condensed', sans-serif
    font-weight: 300
    background: rgba(#554236, 1)
    color: #fff
    display: inline-block
    padding: 0 0 2px 1%
    position: relative
    margin-bottom: 15px
    font-size: 1.1rem
    height: 24px
    -webkit-transition: width 300ms ease
    &:after
      border-top: 13px solid transparent
      border-bottom: 13px solid transparent
      border-left: 13px solid rgba(#554236, 1)
      position: absolute
      right: -13px
      top: 0
      display: inline-block
      content: " "
      // -webkit-transition: all 300ms ease
  p
    font-size: 0.8rem
    line-height: 1.4
    margin-bottom: 25px
  .skills
    ul
      margin-left: 15px
      margin-bottom: 15px
    li
      list-style-type: square
      font-size: 0.8rem
      padding-bottom: 5px
      // color: #575445
  img
    position: absolute
    top: 20px
    right: -90px
    &.desktop, &.tablet
      display: none
      
.blog
  border-bottom: 10px solid #473224
  
  padding-top: 40px
  padding-bottom: 40px
  // margin-bottom: 20px
  overflow: hidden
  h2
    margin-left: $gutter
    margin-right: $gutter
    text-shadow: -1px -1px 1px #000
  li
    clear: left
    padding-left: $gutter
    padding-right: $gutter
    margin-bottom: 30px
    overflow: hidden
    
  .date, .source
    font-size: 0.7rem
    // color: #554236
    color: #fff
    padding-bottom: 5px
    overflow: hidden
  .content
    border-left: 1px solid rgba(#554236, 0.2)
    padding-left: 3%
    h3
      font-family: 'Open Sans Condensed', sans-serif
      font-weight: 700
      font-size: 1.1rem
      // color: #554236
      color: #fff
      text-shadow: -1px -1px 1px #000
    p
      display: none
      
.recent
  margin-bottom: 10px
  background-color: #60B99A
  border-bottom: 10px solid #55a589
  padding-top: 40px
  padding-bottom: 40px
  h2
    margin-left: $gutter
    margin-right: $gutter
    color: #554236
    // color: #554236
  h3
    font-family: 'Open Sans Condensed', sans-serif
    font-weight: 300
    // background: rgba(#575445, 0.7)
    background-color: #554236
    color: #fff
    display: inline-block
    padding: 0 3% 2%
    position: relative
    font-size: 1.2rem
    // text-align: center
    width: 99%//93%
  ul
    overflow: hidden
    margin-left: $gutter
  li
    margin-bottom: 20px
    background: #554236
    margin-right: $gutter
    overflow: hidden
  img
    max-width: 94.5%//93.5%
    // border: 1px solid rgba(#575445, 0.7)
    vertical-align: bottom
    margin: 10px 10px 5px
  
footer
  p
    color: #fff
    text-align: center
    font-size: 1rem
    padding: 30px 0
    