$darkest: #2C2825
$darker: #912C22//#643331
$dark: #864543
$mid: #AE4B46
$light: #A19C7F
$lightest: #E2C59D

@import url(http://fonts.googleapis.com/css?family=Bad+Script|Rock+Salt|Nothing+You+Could+Do|Loved+by+the+King)
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400|Monda|Montserrat)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans:400,300|Open+Sans+Condensed:700,300)

@import "common"

@media all and (min-width: 400px)
  @import "400"
  
@media all and (min-width: 500px)
  @import "500"

@media all and (min-width: 600px)
  @import "600"
  
@media all and (min-width: 768px)
  @import "768"
  
@media all and (min-width: 850px)
  @import "850"
        
@media all and (min-width: 910px)
  @import "910"