$darkest: #2C2825
$darker: #643331
$dark: #864543
$mid: #AE4B46
$light: #A19C7F
$lightest: #E2C59D

@import url(http://fonts.googleapis.com/css?family=Bad+Script|Rock+Salt|Nothing+You+Could+Do|Loved+by+the+King)
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400|Monda|Montserrat)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans:400,300|Open+Sans+Condensed:700,300)
@import "common"

@media all and (min-width: 350px)
  .social
    display: block
    position: absolute
    right: 0
    top: 0
    li
      display: list-item
      float: left
      img
        max-width: 50px
  
  .featured
    h2, h3, p
      width: 45%
      
@media all and (min-width: 500px)

  .featured
    background-size: 25%  auto
    background-position: 94% 40px
    clear: both
    img
      right: 10px
    .skills
      ul
        margin-bottom: 35px
    
  .blog
    li
      margin-bottom: 40px
    
    .content
      p
        display: block

  .top
    float: left
    width: 20%
    margin: 0 0 40px 6%
    img
      max-width: 100%
  
  .recent
    li
      width: 44%
      float: left
    
  .intro
    float: left
    clear: none
    width: 60%
    margin: 60px 6% 40px
    h1, p
      font-size: 1.85rem
    
    
@media all and (min-width: 600px)
  body
    font-size: 16px

  h2
    font-size: 2rem

  .blog
    h2
      margin-bottom: 10px
    .content 
      width: 81%
      max-width: 600px
      h3
        font-size: 1.4rem
    .date, .source
      // line-height: 2.55
      margin-top: 5px
      
  .intro
    h1, p
      font-size: 2rem
  
  .featured
    margin-bottom: 10px
    p
      max-width: 350px
    img
      right: 6%

@media all and (min-width: 768px)
  .intro
    margin-top: 60px
    max-width: 460px
    
  .featured
    // background-image: url(../images/uswitch-tablet.png)
    background-size: 220px auto
    // padding-bottom: 40px
    // min-height: 255px
    .inner
      padding-top: 30px
    p
      margin-bottom: 20px
    h2
      margin-bottom: 10px
    h3
      max-width: 400px
      margin-bottom: 15px
      font-size: 1.4rem
      height: 30px
      &:after
        border-top-width: 16px
        border-bottom-width: 16px
        border-left-width: 16px
        right: -16px
    img
      right: 3%
      &.mobile
        display: none
      &.tablet
        display: inline

  .recent
    h3
      // max-width: 400px
      margin-bottom: 0
      font-size: 1.4rem
      height: 30px
      padding-left: 3px
      &:after
        border-top-width: 16px
        border-bottom-width: 16px
        border-left-width: 16px
        right: -16px
    
  
@media all and (min-width: 850px)
  .featured
    // background-image: url(../images/uswitch-desktop.png)
    background-size: 560px auto
    background-position: 140% 30px
    h3, p, h2
      width: 38%
    img
      right: -130px
      width: 65%
      bottom: 0
      top: auto
      &.tablet
        display: none
      &.desktop
        display: inline
  
  .blog
    margin-bottom: 20px
    
  .recent
    img
      max-width: 93%
    
    li
      width: 30%
      margin-right: 3%
        
@media all and (min-width: 910px)
  body
    margin: 40px auto
    font-size: 16px
  
  .container, .blog, .recent, .featured .inner
    max-width: 960px
    margin-left: auto
    margin-right: auto
    overflow: hidden
    position: relative
    
  .top
    margin-left: 0
  .intro
    max-width: 600px
    h1
      font-size: 2.5rem
    p
      font-size: 2.3rem
      line-height: 1.1

  .blog, .featured, .recent
    h2, h3, p, ul
      margin-left: 0
    li
      padding-left: 0
  
  .recent
    h3
      padding-left: 2%
      width: 91.5%
    // img
    //   max-width: 91%
      
  .featured
    background-size: 560px auto
    background-position: 120% 30px
    h2, h3, p, .skills
      margin-left: 0
    img
      max-width: 635px
      width: 52%
      right: 0
      
