.top
  %img.logo{:src=>"images/logo-mobile.png", :alt=>""}
  .social
    %h2 Contact me
    %ul
      %li
        %a{:href=>"http://www.twitter.com/emmasax"}
          %img{:src=>"images/twitter.png", :alt=>"My tweets"}
      %li
        %a{:href=>"http://uk.linkedin.com/pub/emma-sax/3/618/490"}
          %img{:src=>"images/linkedin.png", :alt=>"LinkedIn"}
      %li
        %a{:href=>"http://www.punkchip.com/"}
          %img{:src=>"images/blog.png", :alt=>"My blog"}
      %li
        %a{:href=>"mailto:emma@punkchip.com"}
          %img{:src=>"images/email.png", :alt=>"Email me"}
  
.intro  
  %h1 Hello, I'm Emma Sax.
  %p I develop dynamic and responsive websites that look fantastic on any device.

.featured
  %h2 Featured
  %h3 
    %a{:href=>"http://www.uswitch.com/gas-electricity/"} uSwitch.com
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id metus lectus. Maecenas a augue dolor, in facilisis lectus. Vivamus arcu odio, scelerisque nec tincidunt ut, gravida a velit.
  %img.mobile{:src=>"images/uswitch-mobile.png", :alt=>"Mobile version of uSwitch.com website"}
  %img.tablet{:src=>"images/uswitch-tablet.png", :alt=>"Mobile version of uSwitch.com website"}

.blog
  %h2 Blog
  %ul
    %li
      .date 19-Dec-2012
      .content
        %h3 
          %a{:href=>"http://www.punkchip.com/2012/12/goodbye-2012/"} Goodbye 2012
        %p I wanted to do a round-up of things I’ve written in 2012, but quite pathetically that would give me a list of three, so I’ll add to that what I’ve been working on this year.

    %li
      .date 22-Aug-2012
      .content
        %h3
          %a{:href=>"http://www.punkchip.com/2012/08/same-page-references-or-named-anchors/"} Same page references, or named anchors
        %p Named anchors have been around since HTML was created and allowed you to link to a different part of a page. They can be referenced by external page by using a hash then the identifier after the URL.

    %li
      .date 13-May-2012
      .content
        %h3 
          %a{:href=>"http://www.punkchip.com/2012/05/autoplay-is-still-bad-for-all-users/"} Autoplay is still bad for all users
        %p Just over three years ago I wrote an article called Autoplay is bad for all users. It was written a few months after WCAG 2 became a formal recommendation but before HTML5, particular the video element, had really gone into mass production.

.recent
  %h2 Recent
  %ul
    %li
      %img{:src=>"images/work1.png", :alt=>""}
      %h3 uSwitch
      %p Recruitment
    %li
      %img{:src=>"images/work2.png", :alt=>""}
      %h3 uSwitch
      %p Home page
    %li
      %img{:src=>"images/work3.png", :alt=>""}
      %h3 The Guardian
      %p Photo gallery
    %li
      %img{:src=>"images/work4.png", :alt=>""}
      %h3 Punkchip
      %p Personal blog
